.landing-page {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px;
    background-color: #0D47A1; /* Dark blue */
    color: white;
}

.header-left {
    font-size: 24px;
    font-weight: bold;
}

.header-right .header-button {
    background-color: #FFFFFF;
    color: #0D47A1;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.header-right .header-button:hover {
    background-color: #BBDEFB; /* Light blue on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.welcome-content {
    text-align: center;
}

.welcome-content h1 {
    font-size: 36px;
    color: #0D47A1;
    margin-bottom: 20px;
    margin-top: 0px ;
}

.welcome-content p {
    font-size: 20px;
    color: #555555;
    max-width: 600px;
    margin: 0 auto;
}






